.menu.menuLeft {
    float: left;
    margin-left: 0.25rem;
}
.menu.menuRight {
    float: right;
    margin-right: 0.25rem;
}
.menu .menuItems {
    display: flex;
}
.menu .menuBackground{
    background: #444444;
}