.menu {
    display: inline-block;
    position: relative;
}
.menu.menuLeft {
    float: left;
}
.menu.menuRight {
    float: right;
}
.menu .menuItems {
    display: flex;
}
.menu .menuBackground{
    background: #444444;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    border-radius: 0.5rem;
}

.menu .menuItem {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0.25rem;
    cursor: pointer;
}

.menu .menuItem span {
    width: 100%;
    text-align: center;
    font-size: 1rem;
}