.warPage .profiles {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.warPage .profiles .profile {
    flex-direction: column;
}

.warPage .surrender {
    /*position: fixed;*/
    /*cursor: pointer;*/
    /*left: 0;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
    /*font-size: 0.6rem;*/
    /*background: #444444;*/
    /*padding: 0.25rem;*/
    /*border-radius: 0.5rem;*/
}
.warPage .showOptions {
    position: fixed;
    cursor: pointer;
    top: 0;
    right: 0;
    padding: 0.25rem;
}

.warPage .pageContent {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.warPage .introProfiles {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.warPage .warPageIntroHeader {
    font-size: 1rem;
}

.warPage .warPageIntro {
    min-height: 80vh;
}

.warPage .warPageIntro .introRandomDifficult {
    min-height: 60px;
}

.warPage .warPageIntro .introRandomCategory {
}

.warPage .sleep {
    vertical-align: middle;
    margin: 0.25rem;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.warPage .choosingTaskProps {
    display: flex;
    justify-content: center;
}

.warPage .choosingTaskProps .timeWithSeal {
    z-index: 1;
    margin-left: 1rem;
}

.warPage .choosingTaskProps .timeWithSeal .time {
    /*padding-left: 1rem;*/
    z-index: 1;
}

.warPage .seal {
    vertical-align: middle;
    margin-left: 0.25rem;
    cursor: pointer;
}

.warPage .whoAnswered {
    opacity: 0;
    animation: fadein 1s 1s, fadeout 1s 6s;
    animation-fill-mode: forwards;
}

.warPage .whoAnswered .pageCenterVertical {
    margin-top: 2rem;
}

.warPage .whoAnswered .result {
    opacity: 0;
    animation: fadein 1s 4s;
    animation-fill-mode: forwards;
}

.warPage .emptyTask {
    opacity: 1;
    animation: fadeout 1s;
    animation-fill-mode: forwards;
}

.warPage .taskWithAnswer {
    opacity: 0;
    animation: fadein 1s 6s;
    animation-fill-mode: forwards;
}