.warPage .pageContent {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.warPage .profiles .profile {
    flex-direction: column;
}

.warPage .surrender {
    /*position: fixed;*/
    /*cursor: pointer;*/
    /*left: 0;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
    /*font-size: 0.6rem;*/
    /*background: #444444;*/
    /*padding: 0.25rem;*/
    /*border-radius: 0.5rem;*/
}

.warPage .showOptions {
    position: fixed;
    cursor: pointer;
    top: 0;
    right: 0;
    padding: 0.25rem;
}

.warPage .warPageIntroHeader {
    font-size: 1rem;
}

.warPage .sleep {
    vertical-align: middle;
    margin: 0.25rem;
}

.warPage .choosingTaskProps .timeWithSeal {
    z-index: 1;
    margin-left: 1rem;
}

.warPage .choosingTaskProps .timeWithSeal .time {
    z-index: 1;
}

.warPage .seal {
    vertical-align: middle;
    margin-left: 0.25rem;
    cursor: pointer;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeouthalf {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

.warPage .warPageIntro .title {
    opacity: 0;
    animation: fadein 0.5s 0s, fadeout 0.5s 5s;
    animation-fill-mode: forwards;
}

.warPage .warPageIntro .team {
    opacity: 0;
    animation: fadein 0.5s 1s, fadeout 0.5s 5s;
    animation-fill-mode: forwards;
}

.warPage .warPageIntro .task {
    opacity: 0;
    animation: fadein 0.5s 0s, fadeout 0.5s 9s;
    animation-fill-mode: forwards;
}

.warPage .warPageIntro .drawWhoAnswer {
    opacity: 0;
    animation: fadein 0.5s 1s, fadeout 0.5s 9s;
    animation-fill-mode: forwards;
}

.warPage .warPageIntro .randomTeamHero1 {
    opacity: 0;
    animation: fadein 0.5s 2s, fadeout 0.5s 9s;
    animation-fill-mode: forwards;
}
.warPage .warPageIntro .randomTeamHero2 {
    opacity: 0;
    animation: fadein 0.5s 5s, fadeout 0.5s 9s;
    animation-fill-mode: forwards;
}

.warPage .warPageIntro .profiles {
    opacity: 0;
    animation: fadein 0.5s 0s;
    animation-fill-mode: forwards;
}

.warPage .warPageIntro .taskProps {
    opacity: 0;
    animation: fadein 0.5s 0s;
    animation-fill-mode: forwards;
}

.warPage .taskProps .profiles {
    opacity: 0;
    animation: fadein 0.5s 0s;
    animation-fill-mode: forwards;
}

.warPage .whoAnswered {
    opacity: 0;
    animation: fadein 0.5s 0.5s, fadeout 0.5s 5s;
    animation-fill-mode: forwards;
}

.warPage .whoAnswered .pageCenterVertical {
    margin-top: 2rem;
}

.warPage .whoAnswered .wrongAnswer {
    opacity: 1;
    animation: fadeouthalf 1s 3s;
    animation-fill-mode: forwards;
}

.warPage .whoAnswered .result {
    opacity: 0;
    animation: fadein 0.5s 2s;
    animation-fill-mode: forwards;
}

.warPage .emptyTask {
    opacity: 1;
    animation: fadeout 0.6s;
    animation-fill-mode: forwards;
}

.warPage .taskWithAnswer {
    opacity: 0;
    animation: fadein 0.5s 5s;
    animation-fill-mode: forwards;
}
.warPage .warPageAnsweringTimeout .activeHeroes {
    opacity: 1;
    animation: fadeout 0.5s 2s;
    animation-fill-mode: forwards;
}