:local .topBar {
    padding-top: 4px;
}

:local .topBarContent {
    text-align: center;
}

:local .topBarContentValue {
    width: 100%;
    text-align: center;
    font-family: 'Black Ops One', cursive;
    font-size: 40px;
    color: #fffdf1;
}

:local .topBarProfile {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0.5rem;
    color: #fffdf1;
    font-size: 0.8rem;
    display: flex;
    z-index: 1;
}