:local .topBar {
    padding-top: 4px;
}

:local .logo {
    right: 2vw;
    top: 2vh;
    position: absolute;
}

:local .topBarContent {
    box-shadow: 0 0 4px #fffdf1;
    margin: 2px auto;
    color: #fffdf1;
    text-align: center;
    display: block;
}

:local .topBarContentValue {
    font-family: 'Black Ops One', cursive;
}
