:local .topBar {
    padding-top: 4px;
}
:local .topBarContent {
    box-shadow: 0 0 4px #fffdf1;
    margin: 2px auto;
    color: #fffdf1;
    text-align: center;
    display: block;
}
:local .topBarContentValue {
    width: 100%;
    text-align: center;
    font-family: 'Black Ops One', cursive;
    font-size: 40px;
    color: #fffdf1;
}