@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.task {
    opacity: 0;
    animation: fadein 0.2s 0s;
    animation-fill-mode: forwards;
    font-size: 1rem;
    justify-content: center;
}

.task .taskContent {
    bottom: 0;
    position: absolute;
}

.task .groupObjectContainer {
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    height: 100%;
    width: 100%;
    position: relative;
    box-shadow: 0 0 4px #ffffff;
}

.task .groupObjectContent {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: calc(100% - 0.5rem);
    margin: 0.25rem;
}

.task .groupObjectBackground {
    border-radius: 0.5rem;
    position: absolute;
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.task .color {
    border: 1px solid white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0.25rem;
}

.task .equation > span > span {
    padding: 0 0.2em !important;
}

.task .equation > span > span[style*="border-top: 0.06em"]{
    border-top: 1px solid currentColor !important;
}

.react-clock {
    background-color: white;
    border-radius: 50%;
}

.react-clock__face {
    border: 3px solid white;
}
