.task {
    /*margin-top: 0.5rem;*/
    font-size: 1rem;
    /*position: absolute;*/
    /*bottom: 0;*/
    justify-content: center;
}

.task .taskContent {
    bottom: 0;
    position: absolute;
}

.task .groupObjectContainer {
    border-radius: 0.5rem;
    height: 100%;
    width: 100%;
    position: relative;
    box-shadow: 0 0 4px #ffffff;
}

.task .groupObjectContent {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: calc(100% - 0.5rem);
    margin: 0.25rem;
}

.task .groupObjectBackground {
    border-radius: 0.5rem;
    position: absolute;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}