.friendContainer {
    border-radius: 0.5rem;
    box-shadow: 0 0 4px #fffdf1;
    background: #4ea5c5;
    color: #fffdf1;
    margin: 0.5rem;
    padding: 0.5rem;
    display: inline-block;
}

.friend {
    display: flex;
    min-width: 250px;
    justify-content: space-between;
}

.friend .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0.5rem;
    position: relative;
}

.friend .actions {
    margin-left: 0.5rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 0 2px #fffdf1;
    border-radius: 0.5rem;
}
.friend .actions div, .friend .actions svg  {
    cursor: pointer;
}

.friend .actions svg {
    float: right;
    padding-left: 0.5rem;
}

.friend .name {
    font-size: 1rem;
}

.friend .tag {
    font-size: 0.8rem;
}

.addFriend {
    border-radius: 8px;
    color: #fffdf1;
    padding: 0.5rem;
    box-shadow: 0 0 4px #fffdf1;
}

.addFriend svg {
    cursor: pointer;
}

.addFriend .addFriendActions {
    padding-top: 0.25rem;
    display: flex;
}