.content {
    margin: auto auto;
    position: relative;
}

.contentHeader {
    position: absolute;
    text-align: center;
    padding-top: 0.25rem;
    width: 100%;
    z-index: 1;
}

.contentFragment .title {
    color: #fffdf1;
    margin: 0.25rem;
}

.page {
    position: relative;
}

.page .pageBackground {
    background: #444444;
    opacity: 0.98;
}

.pageHeader {
    position: relative;
    text-align: center;
    padding-top: 0.25rem;
    width: 100%;
}

.pageCenterHorizontal {
    text-align: center;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    top: 0;
    left: 0;
}

.pageCenterVertical {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.pageContent {
    height: 100%;
    position: relative;
}