.profilePage {
}

.profilePage .books {
    display: flex;
    justify-content: space-around;
}

.profilePage .bookContainer {
    cursor: pointer;
    margin: 0.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 4px #fffdf1;
    display: flex;
    justify-content: center;
}

.profilePage .book {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
