.contentWithImage {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    margin: 0.25rem;
    box-shadow: #fffdf1 0 0 4px;
    border-radius: 0.5rem;
}

.contentWithImage .content {
    position: relative;
}
.contentWithImage .content .content {
    padding: 0.25rem;
}

.contentWithImage .absoluteBackgroundMix {
    background: #666666;
}

.contentWithImage .flexColumn {
    display: flex;
    justify-content: center;
    flex-direction: column;
}