.contentWithImage {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    margin: 0.25rem;
    box-shadow: #fffdf1 0 0 4px;
    border-radius: 0.5rem;
}

.contentWithImage .content {
    position: relative;
}
.contentWithImage .content .content {
    padding: 0.25rem;
}

.contentWithImage .background {
    background: #666666;
    border-radius: 0.5rem;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contentWithImage .flexColumn {
    display: flex;
    justify-content: center;
    flex-direction: column;
}