.resource {
    display: inline-block;
    position: relative;
}

.resourceSmall {
    width: calc(30px + 1rem);
    height: calc(30px + 1rem);
}
.resourceBig{
    width: calc(50px + 1rem);
    height: calc(50px + 1rem);
}