.resourceVerySmall {
    width: calc(15px + 1rem);
    height: calc(15px + 1rem);
}

.resourceSmall {
    width: calc(30px + 1rem);
    height: calc(30px + 1rem);
}

.resourceBig {
    width: calc(50px + 1rem);
    height: calc(50px + 1rem);
}

.availableResources .resource {
    box-shadow: 0 0 4px #fffdf1;
    border-radius: 0.5rem;
    padding: 0.25rem;
}