.profileBar {
    /*position: relative;*/
    position: fixed;
    top: 30vh;
}

.profileBar .profileBarResources {
    position: relative;
}
.profileBar .profileBarProfile {
    position: relative;
}

.profileBar .profileBarBackground {
    background: #444444;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    border-radius: 0.5rem;
}

.profileBar .profileBarContent {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.profileBarProfile {
    /*float: right;*/

}