.warPage .pageContent {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.warPage .sleep {
    vertical-align: middle;
    margin: 0.25rem;
}

.warPage .choosingTaskProps .timeWithSeal {
    z-index: 1;
    margin-left: 1rem;
}

.warPage .choosingTaskProps .timeWithSeal .time {
    z-index: 1;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeouthalf {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

.warPage .warPageIntro .title {
    opacity: 0;
    animation: fadein 0.5s 0s, fadeout 0.5s 5s;
    animation-fill-mode: forwards;
}

.warPage .warPageIntro .team {
    opacity: 0;
    animation: fadein 0.5s 1s, fadeout 0.5s 5s;
    animation-fill-mode: forwards;
}

.warPage .warPageIntro .profilesBig {
    opacity: 0;
    animation: fadein 0.5s 1s, fadeout 0.5s 3s;
    animation-fill-mode: forwards;
}

.warPage .warPageIntro .task {
    opacity: 0;
    animation: fadein 0.5s 0s, fadeout 0.5s 9s;
    animation-fill-mode: forwards;
}

.warPage .warPageIntro .taskProps {
    opacity: 0;
    animation: fadein 0.5s 0s;
    animation-fill-mode: forwards;
}

.warPage .whoAnswered {
    opacity: 0;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation-fill-mode: forwards;
}

.warPage .whoAnswered .pageCenterVertical {
    margin-top: 2rem;
}

.warPage .whoAnswered .wrongAnswer {
    opacity: 1;
    animation: fadeouthalf 1s 2.5s;
    animation-fill-mode: forwards;
}

.warPage .whoAnswered .result {
    opacity: 0;
    animation: fadein 0.5s 2s;
    animation-fill-mode: forwards;
}

.warPage .opponentWisieFadeOut {
    opacity: 0;
    animation: fadein 0.5s 2.5s;
    animation-fill-mode: forwards;
}

.warPage .answeringToAnswered {
    opacity: 1;
    animation: fadeout 0.5s;
    animation-fill-mode: forwards;
}

.warPage .warTaskDescription {
    opacity: 0;
    animation: fadein 0.5s 4.5s;
    animation-fill-mode: forwards;
}

.warPage .taskWithAnswer {
    opacity: 0;
    animation: fadein 0.5s 4.5s;
    animation-fill-mode: forwards;
}
.warPage .randomTaskProps {
    opacity: 0;
    animation: fadein 0.2s 0s;
    animation-fill-mode: forwards;
}