.difficultLevelStars {
    /*height: 100%;*/
    /*width: 100%;*/
    /*position: absolute;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.difficultLevelStars div {
    display: flex;
    justify-content: center;
}

.chooseDifficultLevelStars {
    display: flex;
    justify-content: center;

    cursor: pointer;
}

.chooseDifficultLevelStarsContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100px;
}

.rc-slider {
    height: 20px !important;

}

.rc-slider-rail, .rc-slider-track, .rc-slider-step {
    height: 10px !important;
}

.rc-slider-handle {
    height: 20px !important;
    width: 20px !important;
}