.difficultLevelStars {
    /*height: 100%;*/
    /*width: 100%;*/
    /*position: absolute;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.difficultLevelStars div {
    display: flex;
    justify-content: center;
}