.battlePage .profiles {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.battlePage .surrender {
    position: absolute;
    cursor: pointer;
    margin-top: -60px;
    right: 0px;
}

.battlePage .profilesAbsolute {
    position: absolute;
}

.battlePage .profilesRelative {
    position: relative;
}

.battlePage .pageContent {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.battlePage .introProfiles {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.battlePage .battlePageIntroHeader {
    font-size: 1rem;
}

.battlePage .battlePageIntro {
    min-height: 80vh;
}

.battlePage .battlePageIntro .introRandomDifficult {
    min-height: 60px;
}

.battlePage .battlePageIntro .introRandomCategory {
}

@keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeout {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

.battlePage .whoAnswered {
    opacity: 0;
    animation: fadein 1s 1s, fadeout 1s 6s;
    animation-fill-mode: forwards;
}
.battlePage .whoAnswered .result {
    opacity: 0;
    animation: fadein 1s 4s;
    animation-fill-mode: forwards;
}

.battlePage .emptyTask {
    opacity: 1;
    animation: fadeout 1s;
    animation-fill-mode: forwards;
}

.battlePage .taskWithAnswer {
    opacity: 0;
    animation: fadein 1s 6s;
    animation-fill-mode: forwards;
}