.battlePage .profiles {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.battlePage .profiles .profile {
    flex-direction: column;
}

.battlePage .surrender {
    /*position: fixed;*/
    /*cursor: pointer;*/
    /*left: 0;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
    /*font-size: 0.6rem;*/
    /*background: #444444;*/
    /*padding: 0.25rem;*/
    /*border-radius: 0.5rem;*/
}
.battlePage .showOptions {
    position: fixed;
    cursor: pointer;
    top: 0;
    right: 0;
    padding: 0.25rem;
}

.battlePage .profilesAbsolute {
    position: absolute;
}

.battlePage .profilesRelative {
    position: relative;
}

.battlePage .pageContent {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.battlePage .introProfiles {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.battlePage .battlePageIntroHeader {
    font-size: 1rem;
}

.battlePage .battlePageIntro {
    min-height: 80vh;
}

.battlePage .battlePageIntro .introRandomDifficult {
    min-height: 60px;
}

.battlePage .battlePageIntro .introRandomCategory {
}

.battlePage .sleep {
    vertical-align: middle;
    margin: 0.25rem;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.battlePage .choosingTaskProps {
    display: flex;
    justify-content: center;
}

.battlePage .choosingTaskProps .timeWithSeal {
    z-index: 1;
    margin-left: 1rem;
}

.battlePage .choosingTaskProps .timeWithSeal .time {
    /*padding-left: 1rem;*/
    z-index: 1;
}

.battlePage .seal {
    vertical-align: middle;
    margin-left: 0.25rem;
    cursor: pointer;
}

.battlePage .whoAnswered {
    opacity: 0;
    animation: fadein 1s 1s, fadeout 1s 6s;
    animation-fill-mode: forwards;
}

.battlePage .whoAnswered .pageCenterVertical {
    margin-top: 2rem;
}

.battlePage .whoAnswered .result {
    opacity: 0;
    animation: fadein 1s 4s;
    animation-fill-mode: forwards;
}

.battlePage .emptyTask {
    opacity: 1;
    animation: fadeout 1s;
    animation-fill-mode: forwards;
}

.battlePage .taskWithAnswer {
    opacity: 0;
    animation: fadein 1s 6s;
    animation-fill-mode: forwards;
}