.hero.notOwned {
    /*opacity: 0.5;*/
}

.hero.active {
    background: rgb(40, 121, 218) !important;
}

.hero .heroDetails .absoluteBackgroundMix {
    background: #888;
}

.hero .hobby {
    padding-left: 0.25rem;
}

.hero.owned {
    background: #111;
}