.book .bookInfo {
    padding: 0.25rem 0.25rem 0;
    margin-bottom: 0.25rem;
}

.bookContainer > .absoluteBackgroundMix {
    background: #111111;
}

.book .bookInfo .absoluteBackgroundMix {
    background: #666;
}

.book .bookActions .bookAction {
    min-width: 5rem;
}

.book .bookActions .bookAction:not(:first-child) {
    margin-left: 0.25rem;
}
