.friendsContainer {
}

.suggestedFriendsContainer {
    margin-top: 0.5rem;
    /*box-shadow: 0 0 4px #dadada;*/
    display: inline-block;
}

.friendsContainer .title {
    color: #fffdf1;
    margin: 0.5rem;
}

.rightTopContainer {
    float: right;
    margin-right: 0.5rem;
}
.rightTopContainer .button {
    float: right;
}