.suggestedFriendsContainer {
    margin-top: 0.5rem;
    /*box-shadow: 0 0 4px #dadada;*/
    display: inline-block;
}

.rightTopContainer {
    float: right;
    margin-right: 0.5rem;
}
.rightTopContainer .button {
    float: right;
}