.suggestedFriendsContainer {
    margin-top: 0.5rem;
    /*box-shadow: 0 0 4px #dadada;*/
    display: inline-block;
}
.friendContent {
    overflow: auto;
    position: relative;
}
.rightTopContainer {
    float: right;
    margin: 0.5rem;
}
.rightTopContainer:after {
    content: "";
    clear: both;
    display: block;
}
.rightTopContainer .button {
    float: right;
}