.suggestedFriendsContainer {
    margin-top: 0.25rem;
    display: inline-block;
}
.friendContent {
    overflow: auto;
    position: relative;
}
.rightTopContainer {
    float: right;
    margin: 0.25rem;
}
.rightTopContainer:after {
    content: "";
    clear: both;
    display: block;
}
.rightTopContainer .button {
    float: right;
}