.objectGroup {
    position: relative;
}

.objectContainer {
    position: absolute;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.objectContent {
    word-break: break-word;
    overflow-wrap: break-word;
    text-align: center;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.objectContent img {
    object-fit: contain;
}