.objectGroup {
    position: relative;
    margin: auto;
}

.objectContainer {
    position: absolute;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.objectContent {
}

.objectContent img {
    object-fit: contain;
}