.battlePage .pageContent {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.battlePage .profiles .profile {
    flex-direction: column;
}

.battlePage .surrender {
    /*position: fixed;*/
    /*cursor: pointer;*/
    /*left: 0;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
    /*font-size: 0.6rem;*/
    /*background: #444444;*/
    /*padding: 0.25rem;*/
    /*border-radius: 0.5rem;*/
}

.battlePage .showOptions {
    position: fixed;
    cursor: pointer;
    top: 0;
    right: 0;
    padding: 0.25rem;
}

.battlePage .battlePageIntroHeader {
    font-size: 1rem;
}

.battlePage .sleep {
    vertical-align: middle;
    margin: 0.25rem;
}

.battlePage .choosingTaskProps .timeWithSeal {
    z-index: 1;
    margin-left: 1rem;
}

.battlePage .choosingTaskProps .timeWithSeal .time {
    z-index: 1;
}

.battlePage .seal {
    vertical-align: middle;
    margin-left: 0.25rem;
    cursor: pointer;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.battlePage .battlePageIntro .title {
    opacity: 0;
    animation: fadein 0.5s 0s, fadeout 0.5s 3s;
    animation-fill-mode: forwards;
}

.battlePage .battlePageIntro .profilesBig {
    opacity: 0;
    animation: fadein 0.5s 1s, fadeout 0.5s 3s;
    animation-fill-mode: forwards;
}

/*.battlePage .battlePageIntro .task {*/
    /*opacity: 0;*/
    /*animation: fadein 0.5s 2s, fadeout 0.5s 3s;*/
    /*animation-fill-mode: forwards;*/
/*}*/

.battlePage .battlePageIntro .profiles {
    opacity: 0;
    animation: fadein 0.5s 0s;
    animation-fill-mode: forwards;
}

.battlePage .battlePageIntro .taskProps {
    opacity: 0;
    animation: fadein 0.5s 0s;
    animation-fill-mode: forwards;
}

.battlePage .taskProps .profiles {
    opacity: 0;
    animation: fadein 0.5s 0s;
    animation-fill-mode: forwards;
}

.battlePage .whoAnswered {
    opacity: 0;
    animation: fadein 0.5s 0.5s, fadeout 0.5s 4s;
    animation-fill-mode: forwards;
}

.battlePage .whoAnswered .pageCenterVertical {
    margin-top: 2rem;
}

.battlePage .whoAnswered .result {
    opacity: 0;
    animation: fadein 0.5s 2s;
    animation-fill-mode: forwards;
}

.battlePage .emptyTask {
    opacity: 1;
    animation: fadeout 0.5s;
    animation-fill-mode: forwards;
}

.battlePage .taskWithAnswer {
    opacity: 0;
    animation: fadein 0.5s 4s;
    animation-fill-mode: forwards;
}