.heroPage {
}

.heroPage .pageContent {
    height: 100%;
    overflow: auto;
}

.heroPage .pageContent .contentFragment .title {
    text-align: center;
}

.heroPage .heroesContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.heroPage .heroes {
    display: flex;
}

.heroPage .hero {
    display: flex;
}

.heroPage .hero.notOwned {
    opacity: 0.5;
}

.heroPage .hero .profileContainer {
    width: 100%;
}

.heroPage .hero .profile {
    justify-content: center;
}

.heroPage .hero .name {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.heroPage .hero .heroDetails {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;
    position: relative;
}

.heroPage .hero .heroDetails .hobbies {
    display: flex;
}

.heroPage .hero .heroDetails .background {
    background: #888;
    border-radius: 0.5rem;
    display: inline-block;
    opacity: 0.5;
    position: absolute;
}

.heroPage .hero .hobby {
    position: relative;
    padding-left: 0.25rem;
}