.loading {
    display: flex;
    justify-content: center;
    padding: 0.25rem;
}
.loading div {
    display: flex;
    justify-content: center;
    height: 100%;
}
.loading span {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 0.25rem;
}
