.outer {
    position: relative;
    display: inline-block;
    border: 1px solid rgba(225, 119, 3, .9);
    border-radius: 0.5rem;
    background: linear-gradient(
            to bottom,
            rgba(253, 155, 18, .8) 0%,
            rgba(255, 42, 4, .8) 5%,
            rgba(253, 125, 45, .8) 100%
    );
    box-shadow: 0 0 2px 1px rgba(255, 119, 3, .9),
    inset 0 0 2px 1px rgba(255, 119, 3, .9);
}

.inner {
    margin: 0.1rem;
    border: 1px solid rgba(225, 119, 3, .9);
    border-radius: 0.5rem;
    background: linear-gradient(
            to bottom,
            rgba(253, 125, 45, .3) 0%,
            rgba(255, 42, 4, .3) 5%,
            rgba(253, 125, 45, .3) 100%
    );
    box-shadow: 0 0 2px 1px rgba(255, 119, 3, .9),
    inset 0 0 2px 1px rgba(255, 119, 3, .9);
}

.most-inner {
    text-align: center;
    padding: 0.25rem 0.5rem;
    border: 1px solid rgba(225, 119, 3, 1);
    border-radius: 0.5rem;
    box-shadow: 0 0 2px 1px rgba(255, 119, 3, .9),
    inset 0 0 2px 1px rgba(255, 119, 3, .9);
    text-shadow:
    0 0 1px #fff,
    0 0 1px #88dfff,
    0 0 2px #68ffc8,
    0 0 1px #68ffc8;
    background: repeating-linear-gradient(
            45deg,
            transparent,
            transparent 2px,
            #171717 2px,
            black 4px
    ),
        linear-gradient(
            to bottom,
            #171717,
            black
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
}
