:local .contentHeader {
    position: absolute;
    text-align: center;
    color: #fffdf1;
    font-size: large;
    margin: 4px auto auto;
    width: 100%;
}

:local .playAgain {
    text-align: right;
    bottom: 10vh;
    right: 1vw;
    width: auto;
}

:local .resultMessage {
    text-align: right;
}