.playAgain {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    box-shadow: 0 0 4px #fffdf1;
    border-radius: 0.5rem;
    color: #fffdf1;
    margin: 0.25rem;
}