.playAgain {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    margin: 0.25rem;

}

.playAgain div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}