.profile .details {
    margin-left: 0.25rem;
}

.profile .actions {
    margin-left: 0.25rem;
    padding: 0.25rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /*box-shadow: 0 0 4px #fffdf1;*/
    border-radius: 0.5rem;
}

.profile .actions div, .profile .actions svg {
    cursor: pointer;
}

.profile .actions div {
    display: flex;
    justify-content: space-between;
}

.profile .actions svg {
    float: right;
    padding-left: 0.25rem;
}

.profile .name {
    font-size: 1em;
}

.profile .tag {
    font-size: 0.8em;
}

.profileContainer.active {
    background: rgb(40, 121, 218);
}