.profile .actions {
    padding-left: 0.25rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.profile .actions div, .profile .actions svg {
    cursor: pointer;
}

.profile .actions div {
    display: flex;
    justify-content: space-between;
}

.profile .actions svg {
    float: right;
    padding-left: 0.25rem;
}

.profile .name {
    font-size: 1em;
}

.profile .tag {
    font-size: 0.8em;
}

.profileContainer.active {
    background: rgb(40, 121, 218) !important;
}