* {
    margin: 0;
    padding: 0;
    outline: none;
}
body {
    font-family: 'Roboto', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul {
    list-style-type: none;
}
svg {
    display: inline-block;
}
html {
    font-size: 22px;
}
@media only screen and (max-height: 800px) {
    html {
        font-size: 95%;
    }
}
@media only screen and (max-width: 1440px) {
    html {
        font-size: 95%;
    }
}
@media only screen and (max-height: 600px) {
    html {
        font-size: 90%;
    }
}
@media only screen and (max-width: 1024px) {
    html {
        font-size: 90%;
    }
}
@media only screen and (max-height: 500px) {
    html {
        font-size: 85%;
    }
}
@media only screen and (max-width: 800px) {
    html {
        font-size: 85%;
    }
}