.modalContainer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.modalBackground {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #444444;
    opacity: 0.4;
}

.modal {
    background: #444444;
    color: #fffdf1;
    padding: 1rem;
    margin: auto;
    z-index: 1;
    border-radius: 0.5rem;
}