.modalContainer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.modalBackground {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    opacity: 0.5;
}

.modal {
    background: #000;
    padding: .25rem;
    margin: auto;
    z-index: 1;
    border-radius: 0.5rem;
}
.modalContent {
}