:local .app {
    width: 100vw;
    height: 100vh;
    background: #fffdf1;
}
:local .topBar {
    width: 100%;
    background: #2879da;
    display: block;
    color: #fffdf1;
    font-size: large;

}
:local .topBarContent {
    margin: auto;
}
:local .tiles {
    margin: auto;
    border: 4px solid #fffdf1;
    box-sizing: border-box;
    background: #4ea5c5;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
}
:local .tilesGroup {
    background: #4e9dbd;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}