.addFriend {
    border-radius: 0.5rem;
    color: #fffdf1;
    padding: 0.25rem;
    box-shadow: 0 0 4px #fffdf1;
}

.addFriend svg {
    cursor: pointer;
}

.addFriend .addFriendActions {
    padding-top: 0.25rem;
    display: flex;
}