.fixedBackgroundMix {
    position: fixed;
    object-fit: cover;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.absoluteBackgroundMix {
    border-radius: 0.5rem;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.contentHeader {
    position: absolute;
    text-align: center;
    font-size: 1rem;
    padding-top: 0.25rem;
    width: 100%;
    z-index: 1;
}

.borderBox {
    box-sizing: border-box;
}

.boxShadow {
    box-shadow: 0 0 4px #fffdf1;
    border-radius: 0.5rem;
}

.pointer {
    cursor: pointer;
}

.right {
    float: right;
}

.left {
    float: left;
}

.inlineBlock {
    display: inline-block;
}

.flex {
    display: flex;
}

.justifyCenter {
    display: flex;
    justify-content: center;
}

.justifyEnd {
    display: flex;
    justify-content: flex-end;
}

.justifyEvenly {
    display: flex;
    justify-content: space-evenly;
}

.justifyBetween {
    display: flex;
    justify-content: space-between;
}

.flexColumn {
    flex-direction: column;
}

.flexWrap {
    flex-wrap: wrap;
}

.overflowAuto {
    overflow: auto;
}

.textAlignCenter {
    text-align: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.height100 {
    height: 100%;
}

.width100 {
    width: 100%;
}

.none {
    display: none !important;
}

.marginRem {
    margin: 0.25rem;
}

.paddingRem {
    padding: 0.25rem;
}
.borderRadiusRem {
    border-radius: 0.5rem;
}