.fixedBackgroundMix {
    position: fixed;
    object-fit: cover;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.absoluteBackgroundMix {
    border-radius: 0.5rem;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.borderBox {
    box-sizing: border-box;
}

.boxShadow {
    box-shadow: 0 0 4px #fffdf1;
    border-radius: 0.5rem;
}

.pointer {
    cursor: pointer;
}

.right {
    float: right;
}

.left {
    float: left;
}

.inlineBlock {
    display: inline-block;
}

.flex {
    display: flex;
}

.justifyCenter {
    display: flex;
    justify-content: center;
}

.justifyEnd {
    display: flex;
    justify-content: flex-end;
}
.justifyStart {
    display: flex;
    justify-content: flex-start;
}

.justifyEvenly {
    display: flex;
    justify-content: space-evenly;
}

.justifyBetween {
    display: flex;
    justify-content: space-between;
}

.flexColumn {
    flex-direction: column;
}

.flexWrap {
    flex-wrap: wrap;
}

.overflowAuto {
    overflow: auto;
}

.textAlignCenter {
    text-align: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.height100 {
    height: 100%;
}

.width100 {
    width: 100%;
}

.none {
    display: none !important;
}

.marginRem {
    margin: 0.25rem;
}
.marginAuto {
    margin: auto;
}

.marginWidthAuto {
    margin: 0 auto;
}
.right0 {
    right: 0;
}
.top0 {
    top: 0;
}
.left0 {
    left: 0;
}

.paddingRem {
    padding: 0.25rem;
}

.paddingLeftRem {
    padding-left: 0.25rem;
}

.paddingRightRem {
    padding-right: 0.25rem;
}

.borderRadiusRem {
    border-radius: 0.5rem;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
}
.notAllowed {
    cursor: not-allowed !important;
}
.fontSize09Rem {
    font-size: .9rem;
}
.fontSize08Rem {
    font-size: .8rem;
}
.fontSize07Rem {
    font-size: .7rem;
}
.fontSize06Rem {
    font-size: .6rem;
}
.zIndex0 {
    z-index: 0;
}
.zIndex1 {
    z-index: 1;
}