:local .app {
    width: 100vw;
    height: 100vh;
    background: #fffdf1;
}

:local .content {
    background: #4ea5c5;
    margin: auto auto;
    position: relative;
}

.contentHeader {
    position: absolute;
    text-align: center;
    color: #fffdf1;
    font-size: large;
    margin: 4px auto auto;
    width: 100%;
}