:local .app {
    width: 100vw;
    height: 100vh;
    background: #fffdf1;
}

:local .content {
    background: #4ea5c5;
    margin: auto auto;
    position: relative;
}

.contentHeader {
    position: absolute;
    text-align: center;
    color: #fffdf1;
    font-size: 1rem;
    padding-top: 0.25rem;
    width: 100%;
    z-index: 1;
}

.pageHeader {
    text-align: center;
    color: #fffdf1;
    padding-top: 0.25rem;
    font-size: 1rem;
    width: 100%;

}

.pointer {
    cursor: pointer;
}