.app {
    width: 100vw;
    height: 100vh;
    background: #fffdf1;
}

.content {
    margin: auto auto;
    position: relative;
}

.background {
    position: fixed;
    object-fit: cover;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.menu {
    display: inline-block;
    position: relative;
}
.menu.menuLeft {
    float: left;
}
.menu.menuRight {
    float: right;
}
.menu .menuItems {
    display: flex;
}
.menu .menuBackground{
    background: #444444;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    border-radius: 0.5rem;
}

.menu .menuItem {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0.25rem;
    cursor: pointer;
}

.menu .menuItem span {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: #fffdf1;
}

.contentHeader {
    position: relative;
    text-align: center;
    color: #fffdf1;
    font-size: 1rem;
    padding-top: 0.25rem;
    width: 100%;
    z-index: 1;
}
.page {
    position: relative;
}

.page .pageBackground {
    background: #444444;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0.5rem;
}

.pageHeader {
    position: relative;
    text-align: center;
    color: #fffdf1;
    padding-top: 0.25rem;
    font-size: 1rem;
    width: 100%;
}

.pageHeaderWithImage {
    display: flex;
    justify-content: center;
    /*flex-direction: column;*/
}

.pageContent {
    position: relative;
}

.pointer {
    cursor: pointer;
}

.justifyCenter {
    display: flex;
    justify-content: center;
}

.pageInsideContainer .title {
    color: #fffdf1;
    margin: 0.25rem;
}