.app {
    width: 100vw;
    height: 100vh;
    background: #fffdf1;
}

body {
    color: #fffdf1;
}

.content {
    margin: auto auto;
    position: relative;
}

.background {
    position: fixed;
    object-fit: cover;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.contentHeader {
    position: relative;
    text-align: center;
    font-size: 1rem;
    padding-top: 0.25rem;
    width: 100%;
    z-index: 1;
}
.page {
    position: relative;
}

.page .pageBackground {
    background: #444444;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0.5rem;
}

.pageHeader {
    position: relative;
    text-align: center;
    color: #fffdf1;
    padding-top: 0.25rem;
    font-size: 1rem;
    width: 100%;
}

.pageContent {
    position: relative;
}

.pointer {
    cursor: pointer;
}

.justifyCenter {
    display: flex;
    justify-content: center;
}

.contentFragment .title {
    color: #fffdf1;
    margin: 0.25rem;
}